<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a href="" class="navbar-brand">Sports Store</a>
    </div>
  </div>
</div>
<div class="m-2 text-center" *ngIf="orderSent">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order</p>
  <p>we'll ship your goods as soon as possible</p>
  <button class="btn btn-primary" routerLink="/store">
    Return to Store
  </button>
</div>
<form *ngIf="!orderSent" class="m-2" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" #name="ngModel" name="name" [(ngModel)]="order.name" required>
    <span class="text-danger" *ngIf="submitted && name.invalid">
      Please Enter your name
    </span>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input class="form-control" #address="ngModel" name="address" [(ngModel)]="order.address" required>
    <span class="text-danger" *ngIf="submitted && address.invalid">
      Please Enter your address
    </span>
  </div>

  <div class="form-group">
    <label>City</label>
    <input class="form-control" #city="ngModel" name="city" [(ngModel)]="order.city" required>
    <span class="text-danger" *ngIf="submitted && city.invalid">
      Please Enter your city
    </span>
  </div>


  <div class="form-group">
    <label>State</label>
    <input class="form-control" #state="ngModel" name="state" [(ngModel)]="order.state" required>
    <span class="text-danger" *ngIf="submitted && state.invalid">
      Please Enter your state
    </span>
  </div>

  <div class="form-group">
    <label>Zip/postal code</label>
    <input class="form-control" #zip="ngModel" name="zip" [(ngModel)]="order.zip" required>
    <span class="text-danger" *ngIf="submitted && zip.invalid">
      Please Enter your zip/postal code
    </span>
  </div>

  <div class="form-group">
    <label>Country</label>
    <input class="form-control" #country="ngModel" name="country" [(ngModel)]="order.country" required>
    <span class="text-danger" *ngIf="submitted && country.invalid">
      Please Enter your country
    </span>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
    <button class="btn btn-primary m-1" type="submit">Complete Order</button>

  </div>
</form>
